@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i');

body {
  width: auto;
  padding: 0px;
  top: 0px;
  left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  position: fixed;
  top : 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  padding: 10px 10px 0px 0px;
  /* margin: -10px 0px 0px 0px; */
  background-color: orange;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

p.login{
  text-align: center;
}

input.login{
  font-size: 20px;
  width: 100%;
  margin: 0px 0px 5px 0px;
}

h1{
  width: auto;
  position: relative;
  /* margin-top: 5px; */
  padding: 0px;
  font-size: 20px;
  text-align: center;
}

h1.login{
  margin-top: 80px;
}

p.username{
  width: auto;
  text-align: center;
  margin: 30px 0px 0px 0px;
  padding: 20px 0px 5px 0px;
}

img{
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  text-align: justify;
  width: 95%;
}

button {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: #E6E6E6;
  vertical-align: center;
  width:100%;
  height: auto;
  border: 0.5px;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 5px 5px 5px;
}

ul{
  display: block;
  /* position: relative; */
  /* padding-top: 10px; */
  padding-bottom: 10px;
  margin: 10px 0px 30px 0px;
}

li{
  list-style-type : none;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E6E6E6;
  width:100%;
  border: 0.5px;
  border-radius: 5px;
  margin: 5px 10px 0px -30px;
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

div.postContent{
  padding-bottom: 30px;
/* margin-bottom: 20px; */
}

table, tbody{
  width: 100%;
  vertical-align:middle;
}

tr, td{
  vertical-align: middle;
  text-align: center;
  padding: 5px 0px 5px 0px;
  }

.navbar {
  z-index: 10;
  height: 25px;
  width: 100%;
  left: 0px;
  padding: 0px 10px 0px 0px;
  background-color: orange;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  bottom : 0px;
  margin: 0px 0px 0px 0px;
}

.App{
  align: center;
}

.imgLegend{
  font-style: italic;
}

.pageContent{
  margin: 0px 0px 10px 0px;
}

/* .footer {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 100%; */
    /* height: 50px; */
/* } */

#map{
  height: 90%;
  position: relative;
  margin: 5px -10px 0px -10px;
  padding: 10px;
}
